{% extends 'base.html'%}
{% block content %}
    <h4>制图及制图符号</h4>
    <div style="list-style-type: none;">
        <li><a href="/oneone">图纸幅面和格式</a></li>
        <li><a href="/onetwo">标题栏和明细栏</a></li>
        <li><a href="/onethree">图线</a></li>
        <li><a href="/onefour">剖面符号画法</a></li>
        <li><a href="/onefive">剖视图和断面图</a></li>
        <li><a href="/onesix">装配图中零部件序号及编排方法</a></li>
        <li><a href="/oneseven">尺寸公差与配合的标注</a></li>
        <li><a href="/oneeight">螺纹的表示方法</a></li>
        <li><a href="/onenine">齿轮的图样格式</a></li>
        <li><a href="/oneten">技术要求的一般内容与给出方法</a></li>
    </div>
{% endblock %}
