{% extends 'twobase.html'%}
{% block content1 %}
    <img src="/static/imag/251.png" width="810" >
    <img src="/static/imag/252.png" width="810" >
    <img src="/static/imag/253.png" width="810" >
    <img src="/static/imag/254.png" width="810" >
    <img src="/static/imag/255.png" width="810" >
    <img src="/static/imag/256.png" width="810" >
    <img src="/static/imag/257.png" width="810" >
    <img src="/static/imag/258.png" width="810" >
    <img src="/static/imag/259.png" width="810" >
    <img src="/static/imag/2510.png" width="810" >
    <img src="/static/imag/2511.png" width="810" >
    <img src="/static/imag/2512.png" width="810" >
    <img src="/static/imag/2513.png" width="810" >
    <img src="/static/imag/2514.png" width="810" >
    <img src="/static/imag/2515.png" width="810" >
    <img src="/static/imag/2516.png" width="810" >
    <img src="/static/imag/2517.png" width="810" >
    <img src="/static/imag/2518.png" width="810" >
    <img src="/static/imag/2519.png" width="810" >
{% endblock %}